:root {
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
}

body {
    font-family: 'Roboto', 'Raleway', serif;
    color: #212121;
}

button {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--white-color);
}

a {
    text-decoration: none;
}

h2 {

}

h3 {

}

p {

}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}
.logo-web {
    color: var(--accent-color);
    

}

.logo-studio {
    color: #000000;
}

.navigation-item{
    color: #212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;

}

.navigation-item:hover, 
.navigation-item:focus {
    color: var(--accent-color);
}

.header-contacts-item {
    color: var(--secondary-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
    color: var(--accent-color);
    
}

.hero {
    background-color: var(--background-color);
}

.hero-title {
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.advantages-title {
    display: none;
}

.footer {
    background-color: var(--background-color);
}

.logo-studio-footer {
    color: var(--white-color);
}

.footer-address {
    color: var(--white-color);
}

.footer-contacts-item {
    color: var(--white-color);
    opacity: 0.6;
}